{% extends "base.html" %}
{% block content %}
	
	<h1> Hello, {{ username }} </h1>

	<a href="{{ url_for('logout') }}" style="text-align:right">Logout</a>

	<h4 style="text-align:center; color:red"> Here are Your Recommendations </h4>

	<h5>Time Taken: {{ time }} seconds or {{ time/60 }} minutes</h5>
	<ul class="list-group list-inline small">
	{% for movie in recommended_movies %}

		<a href="{{ url_for('rate', movie_id=movie.id) }}">
		<li class="list-group-item">
			<p>{{ movie.title.capitalize() }}</p>
		</li>
		</a>
		
	{% endfor %}
	</ul>
	
	
{% endblock %}